pages:
  - title: "Home"
    url: "/"
  - title: "I colori della musica"
    url: "/i-colori-della-musica/"
  - title: "Un regalo per voi"
    url: "/un-regalo-per-voi/"
  - title: "Interludio I"pages:
  - title: "Home"
    url: "/"
  - title: "I colori della musica"
    url: "/i-colori-della-musica/"
  - title: "Un regalo per voi"
    url: "/un-regalo-per-voi/"
  - title: "Interludio I"
    url: "/interludio-i/"
  - title: "Consigli musica di nicchia"
    url: "/consigli-musica-nicchia/"
  - title: "Immagini e parole"
    url: "/immagini-e-parole/"
  - title: "Interludio II"
    url: "/interludio-ii/"
  - title: "Tre albums esagerati"
    url: "/tre-albums-esagerati/"
  - title: "Biografia"
    url: "/biografia/"
  - title: "Contatti"
    url: "/contatti/"
    url: "/interludio-i/"
  - title: "Consigli musica di nicchia"
    url: "/consigli-musica-nicchia/"
  - title: "Immagini e parole"
    url: "/immagini-e-parole/"
  - title: "Interludio II"
    url: "/interludio-ii/"
  - title: "Tre albums esagerati"
    url: "/tre-albums-esagerati/"
  - title: "Biografia"
    url: "/biografia/"
  - title: "Contatti"
    url: "/contatti/"
